<!DOCTYPE html>
@{
    ViewData["Title"] = "Home Page";
     Layout = "HomeLayout";
}

        <div id="full-width-header" class="full-width">
            <div class="triangle top"></div>
            <div class="inner">
                <div class="slide">
                    <div class="inner-slide">
                    <img src="~/img/okuz-burger-slider-yeni-4-min.jpg" /> width="1980" height="560">
                    </div>
                </div>
            </div>
            <div class="triangle bottom"></div>
        </div>

        <div class="clear"></div>

        <div class="container full-page">
            <div id="about-us" class="main-container">
                <div class="row">
                    <div class="main-content col">
                        <div class="title">
                            <h1>Hakkımızda </h1>
                        </div>
                        <div class="intro">
                            <h2>Gurme Burger, lezzetli burgerleriyle sizi agırlamaktan mutluluk duyar..</h2>
                        </div>
                        <div class="content">
                            <p>
                                Merhaba, biz SRHTS ekibi, GurmeBurger'ın kurucusu ve aşçısıyız ve sizinle lezzetli burgerleri seven bir ekip olarak ve bu sevgiyi paylaşmak için buradayız.
                                GurmeBurger olarak kurduğumuz bu mekan, benzersiz ve enfes lezzetlerle dolu bir burger deneyimi sunmayı amaçlamaktadır.
                                Sizleri GurmeBurger ailesine davet etmekten mutluluk duyarım. Umarım lezzet dolu bir deneyim yaşarsınız!
                            </p>
                            <div class="content-thumbnail half align-left">
                                <img src="~/GuncelResimler/GurmeBurger4.png" />
                            </div>
                                 <p>Perspektiflerden ötesinde, nefes kesici bir lezzet deneyimi sizi bekliyor. Ürünlerimizdeki doğal hatanın içindeki zevkleri ve acıları keşfedin. Her biri özenle seçilmiş malzemelerle hazırlanan ürünlerimiz, sizi lezzet yolculuğuna davet ediyor. En taze ve kaliteli malzemelerle üretilen ürünlerimiz, damaklarınıza unutulmaz bir tat sunuyor. Sizi eşsiz bir gastronomik serüvene davet ediyoruz. Şimdi, lezzet dolu anlara adım atın!"</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear"></div>

        <div class="container full-page">
            <div id="our-team" class="main-container">
                <div class="row">
                    <div class="title col">
                        <h1>Ekibimiz</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="team col">
                        <div class="team-photo">
                            <img src="~/img/we/haro.jpg" />
                        </div>
                        <div class="team-name">
                            <h3>Harun</h3>
                            <h4 class="sub-title">Kitchen’s chef</h4>
                        </div>
                    </div>
                    <div class="team col">
                        <div class="team-photo">
                            <img src="~/img/we/taro.jpg" />
                        </div>
                        <div class="team-name">
                            <h3>Tarik</h3>
                            <h4 class="sub-title">Taste creator</h4>
                        </div>
                    </div>
                    <div class="team col">
                        <div class="team-photo">
                            <img src="~/img/we/saho.jpg" />
                        </div>
                        <div class="team-name">
                            <h3>Shohzod</h3>
                            <h4 class="sub-title">Recipe master</h4>
                        </div>
                    </div>
                    <div class="team col">
                        <div class="team-photo">
                            <img src="~/img/we/sudo.jpg" />
                        </div>
                        <div class="team-name">
                            <h3>Sude</h3>
                            <h4 class="sub-title">Gourmet</h4>
                        </div>
                    </div>
                <div class="team col">
                    <div class="team-photo">
                        <img src="~/img/we/ro.jpg" />
                    </div>
                    <div class="team-name">
                        <h3>Reyhan</h3>
                        <h4 class="sub-title">Gourmet</h4>
                    </div>
                </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div class="clear space-area"></div>
